[Unit]
Description=FakeAPI
AssertFileIsExecutable=/usr/local/bin/gunicorn

[Service]
WorkingDirectory=/usr/local/bin
Environment=FAKEAPI_CONFIG={{ fakeapi_config }}

ExecStart=/usr/local/bin/gunicorn -b 127.0.0.1:8080 -w 4 fakeapi.wsgi

# Let systemd restart this service always
Restart=always

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target

