[Unit]
Description=FakeAPI Reloader
AssertFileIsExecutable=/usr/local/bin/fakeapi-reloader

[Service]
WorkingDirectory=/usr/local/bin

ExecStart=/usr/local/bin/fakeapi-reloader --config {{ fakeapi_config }}

# Let systemd restart this service always
Restart=always
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target

